.heroesComponent {
    border: #00008B solid 3px;
    display: flex;
    flex-direction: column;
}

.heroes {
    border: red solid 3px;
    display: flex;
    justify-content: space-evenly;
}

.pagination {
    border: darkgreen solid 3px;
}

.pagination {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.pagination button {
    box-sizing: border-box;
    width: 200px;
    height: 55%;
    padding: 10px 0;

    font-size: 18px;
    background-color: #000000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}