.heroInfoPage {
    background: #141612;
    min-height: calc(100vh - 65px);
}

.containerInfo {
    display: flex;
    flex-direction: column;
}

.heroInfoDiv {
    display: flex;
    justify-content: space-evenly;
}

.textNoImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoAboutHero {
    border-radius: 10px;
    width: 650px;
    background-color: white;
    margin: 20px;
    max-height: 535px;
    padding: 20px;
}

.infoAboutHero div {
    margin-bottom: 5px;
    color: #141612;
    font-weight: bold;
    padding: 2px 4px;
}

.infoAboutHero div:hover {
    background-color: #141612;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg img {
    height: 200px;
}