.header {
    display: flex;
    background-color: white;
    justify-content: space-around;

    height: 65px;
}

.headerLink {
    display: flex;
    justify-content: center;

    width: 40%;
    font-size: 25px;
}

.link {
    text-align: center;
    text-decoration: none;
    color: #141612;
    padding: 15px;
    width: 50%;
    font-weight: bold;
}

.link:hover {
    filter: drop-shadow(0 0 20px #141612) drop-shadow(0 0 30px #141612) drop-shadow(0 0 40px #141612);
}